<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>LOGIN</title>-->
<!--</head>-->
<!--<body>-->

<!--&lt;!&ndash;тут створюємо  форму з action="/login" method="post", інпути  та кнопки , обовязково мають мати name. &ndash;&gt;-->
<!--&lt;!&ndash;Коли натиснемо на кнопку SEND, відпрацює action="/login" method="post", те що він нам віддасть описано в app.post"/login" &ndash;&gt;-->

<!--<form action="/login" method="post">-->

<!--    <input type="text" name="name">-->
<!--    <input type="text" name="password">-->
<!--    <input type="submit" value="SEND">-->

<!--</form>-->

<!--&lt;!&ndash;приклад if, а саме симантика. if може приймати тільки true або false, і його ми передаємо на app.get("/login"), в res.render("login",{isADULT:true});&ndash;&gt;-->
<!--        {{#if isADULT}}-->
<!--    <div>ADULT</div>-->
<!--    <div>ADULT</div>-->
<!--    <div>ADULT</div>-->
<!--    <div>ADULT</div>-->
<!--    <div>ADULT</div>-->
<!--    <div>ADULT</div>-->
<!--        {{else}}-->
<!--    <div>NO ADULT</div>-->
<!--    <div>NO ADULT</div>-->
<!--    <div>NO ADULT</div>-->
<!--    <div>NO ADULT</div>-->
<!--    <div>NO ADULT</div>-->
<!--    <div>NO ADULT</div>-->
<!--        {{/if}}-->

<!--</body>-->
<!--</html>-->