<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>USERS</title>-->
<!--    <link rel="stylesheet" href="style.css">-->
<!--</head>-->
<!--<body>-->

<!--<h1>OUR USERS</h1>-->

<!--&lt;!&ndash;Cюди динамічно передаємо наших users, а оскільки це масив, то ітеруємо і виводимо в наступний  спосіб. #each тут виконує роль foreach, а this роль users[i]&ndash;&gt;-->
<!--&lt;!&ndash;А самих users, ми динамічно прокинули через options в app.js, а саме:  app.get("/users", (req, res) => { res.render("users", {users}); });&ndash;&gt;-->
<!--&lt;!&ndash;Також дуже просто підключаємо та стилізуємо це все через сss. Прописуємо link там class&ndash;&gt;-->

<!--{{#each users}}-->

<!--    <div class="name">{{this.name}}</div>-->
<!--    <div class="age">{{this.age}}</div>-->

<!--{{/each}}-->

<!--</body>-->
<!--</html>-->