<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOGINATION  PAGE</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

<div class="form">

    <h1>YOU ARE ALLREADY REGISTERED ENTER LOGIN AND PASSWORD</h1>

    <form action="/logination" method="post">

        <lable for="username">USER NAME:
            <input type="text" name="login" placeholder="enter login">
        </lable>

        <br>
        <lable>PASSWORD:
            <input type="password" name="password" placeholder="enter password">
        </lable>

        <br>
        <input type="submit" value="LOG IN">
    </form>

    <div>
        <a href="/">GO TO HOME PAGE</a>
    </div>
</div>

</body>
</html>