<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME PAGE</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>


<h1>ENTER ON WEBSITE</h1>


<div class="main">

    <div><a class="main_register" href="/registration">Registration</a></div>

    <div class="main_login"><a href="/logination">Log In</a></div>

    <div class="main_login"><a href="/userAll">All users</a></div>

</div>


</body>
</html>