<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>WELLCOME TO OUR WEBSITE</h1>

{{#each currentUserr}}
    <h5>YOUR LOGIN: {{this.login}}</h5>
    <h5>YOUR PASSWORD: {{this.password}}</h5>
{{/each}}

{{#each allreadyRegisteredUserr}}
    <h5>YOUR LOGIN: {{this.login}}</h5>
    <h5>YOUR PASSWORD: {{this.password}}</h5>
{{/each}}


</body>
</html>