<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ALL USERS</title>
</head>
<body>

<h1>ALL USERS FROM OUR WEBSITE</h1>

{{# each arroffUserss}}
    <h5>LOGIN: {{this.login}}</h5>
    <hr>
{{/each}}

</body>
</html>